<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table class="table1">
        <!-- <caption>Listagem de agendamento</caption> -->
        <thead>
            <tr>
                <th>Redes Sociais</th>
                <th>Mídia</th>
                <th>Texto</th>
                <th>Data</th>
                <th>Ações</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
    <table class="table2">
        <tbody *ngIf="schedule">
            <tr>
                <th *ngFor="let item of schedule">{{ item.text }}</th>
                <th>{{item.media}}</th>
                <th>{{item.text}}</th>
                <th>{{item.publication_date}}</th>
                <th><a>Preview</a></th>
                <th>{{item.status_key}}</th>
            </tr>
        </tbody>
    </table>
</body>