<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table>
        <tr>
            <th>Redes Sociais</th>
        </tr>
        <tr>
            <span *ngFor="let socialMidia of socialMidias">
                <i [class]="socialMidia.icon" [disabled]="socialMidia.status === disabled"
                    (click)="onClickIcon(socialMidia)"></i>
            </span>
        </tr>
    </table>
</body>
<!-- [class]="socialMidia.icon"  -->
<!-- [ngClass]="{
    'socialMidia.icon': socialMidia.clicked
    }" -->