<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table>
        <tr>
            <th>Redes Sociais</th>
        </tr>
        <tr>
            <!-- <td>imagens das redes sociais</td> -->
            <img class="img1" src="../../../assets/icon_instagram.png">
            <img class="img2" src="../../../assets/icon_linkedin.png">
            <img class="img3" src="../../../assets/icon_youtube.png">
            <img class="img4" src="../../../assets/icon_pinterest.png">
            <img class="img5" src="../../../assets/icon_twitter.png">
            <img class="img6" src="../../../assets/icon_facebook.png">
        </tr>
    </table>
</body>