table {
    background: #FFFFFF;
    position: absolute;
    width: 315px;
    height: 110px;
    top: 130px;
    left: 40px;
    border-radius: 4px;
    box-sizing: border-box;
}

th {
    position: absolute;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-indent: -190px;
    width: 100%;
    height: 24px;
    top: 4px;
}

.instagram {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 21px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_instagram.png");
}

.instagram:hover {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 55px;
    left: 21px;
    bottom: 22px;
    cursor: pointer;
    background-image:url("../../../assets/images/insta_focus.png");
}

.instagram:active{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 55px;
    left: 21px;
    bottom: 22px;
    cursor: pointer;
    background-image:url("../../../assets/images/instagram_pressed.png");
}

.linkedin-in {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 69px;
    right: 213px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_linkedin.png");
}

.linkedin-in:hover {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 55px;
    left: 69px;
    right: 213px;
    bottom: 22px;
    cursor: pointer;
    background-image:url("../../../assets/images/linkedin_Hovered.png");
}

.linkedin-in:active {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 55px;
    left: 69px;
    right: 213px;
    bottom: 22px;
    background-image:url("../../../assets/images/linkedin_pressed.png");
}

.youtube {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 117px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_youtube.png");
}

.pinterest-p {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 165px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_pinterest.png");
}

.twitter {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 213px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_twitter.png");
}

.facebook-f {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 55px;
    left: 261px;
    bottom: 22px;
    background-image:url("../../../assets/images/icon_facebook.png");
}
