<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>


<script src="https://s3-eu-west-1.amazonaws.com/boostera.assets/boostera.umd.js"></script>
<script>
    const options = {
        uploadFinishedCallback: (info) => { console.log(info) },
    }
    const boostera = BoosteraUploadWidget(options);
</script>

<body>
    <table>
        <tr>
            <th>Upload de imagem</th>
        </tr>
        <tr>
            <!-- <textarea placeholder="Aqui ficara o carregamento de IMAGEM"></textarea> -->
            <!-- <input type="file" (change)="handleFileInput($event.target.files)"> -->
        </tr>

    </table>
</body>