<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table>
        <tr>
            <th>Data de publicação</th>
        </tr>
        <tr>
            <!-- <mat-form-field class="mat-form-field" appearance="fill"> -->
            <mat-form-field class="mat-form-field">
                <mat-label>MM/DD</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <!-- <input class="input" style="position: absolute;  left: 20px;" type="date" class="from-control" [max]="todaysdate" [(ngModel)]="dateSent"
                placeholder="DD/MM" /> -->
            <!-- <input class="input" style="position: absolute;  left: 173px;" type="time" class="from-control" [max]="todaysdate" placeholder="DD/MM" (ngOnChange)="dateSent" (click)="dateSent"/> -->
        </tr>
    </table>
</body>