<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table>
        <tr>
            <th>Data de publicação</th>
        </tr>
        <tr>
            <input style="position: absolute;  left: 20px;" type="date" class="from-control" [max]="todaysdate" [(ngModel)]="dateSent"
                placeholder="DD/MM" />
            <input style="position: absolute;  left: 173px;" type="time" class="from-control" [max]="todaysdate" placeholder="DD/MM" (ngOnChange)="dateSent" (click)="dateSent"/>
        </tr>
    </table>
</body>