table {
    background: #FFFFFF;
    position: absolute;
    width: 315px;
    height: 110px;
    top: 130px;
    left: 396px;
    border-radius: 4px;
    box-sizing: border-box;
}

th {
    position: absolute;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-indent: -140px;
    width: 100%;
    height: 24px;
    top: 4px;

}

input {
    position: absolute;
    top: 49px;
    /* left: 21px; */
    width: 124px;
    height: 42px;
    border: 1px solid #949494;
    border-radius: 2px;
}

/* .time {
    position: absolute;
    top: 49px;
    left: 173px;
    width: 124px;
    height: 42px;
    border: 1px solid #949494;
} */