<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<div>
    <table>
        <tr>
            <th>Data de publicação</th>
        </tr>
        <tr>
            <mat-form-field class="datePicker">
                <mat-label>DD/MM</mat-label>
                <input matInput [matDatepicker]="picker" [formControl]="selectedDate" (click)="click(selectedDate)" [value]="selectedDate.value">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker (click)="click(selectedDate)"></mat-datepicker>
            </mat-form-field>


            <mat-form-field class="timePicker">
                <input matInput type="time" placeholder="HH/MM" />
            </mat-form-field>
        </tr>
    </table>
</div>