<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<header>
    <app-header></app-header>
</header>

<body>
    <app-social-medias></app-social-medias>

    <app-date-publishing></app-date-publishing>

    <app-post-text></app-post-text>

    <app-img-uploader></app-img-uploader>

    <app-post-view></app-post-view>

    <router-outlet></router-outlet>
    <footer>
        <button class="cancelBtn">Cancelar</button>
        <button class="saveBtn" button-secondary>Salvar Rascunho</button>
        <button *ngIf="globalService" class="scheduleBtn" button-primary [disabled]="!globalService.canProceed()" (click)="openDialog()">Agendar</button>
    </footer>
</body>