<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
</style>

<body>
    <table class="table1">
        <!-- <caption>Listagem de agendamento</caption> -->
        <thead>
            <tr>
                <th>Redes Sociais</th>
                <th>Mídia</th>
                <th>Texto</th>
                <th>Data</th>
                <th>Ações</th>
                <th>Status</th>
            </tr>
        </thead>
    </table>
    <table class="table2">
        <tbody>
            <tr>
                <th colspan="1">Imagem</th>
                <th colspan="1">Imagem</th>
                <th colspan="1">Aqui vai o texto descritivo desse post</th>
                <th colspan="1">09/09/2021 às 14h25h</th>
                <th colspan="1"><a>Preview</a></th>
                <th colspan="1">Status OK</th>
            </tr>
        </tbody>
    </table>
</body>