table {
    /* background: #FFFFFF; */
    position: absolute;
    width: 671px;
    height: 214px;
    top: 280px;
    left: 40px;
    border-radius: 4px;
    box-sizing: border-box;
}

th {
    position: absolute;
    border-bottom: 1px solid #E0E0E0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-indent: -549px;
    width: 100%;
    height: 24px;
    top: 4px;
}

textarea {
    position: absolute;
    top: 52px;
    left: 15.04px;
    border: 1px solid #949494;
    box-sizing: border-box;
    width: 638.9px;
    height: 146px;
    border-radius: 4px;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

.button{
    position: absolute !important;
    left: 602.8px;
    top: 63px;
    background: none;
    border: none;
    /* border-radius: ; */
    cursor: pointer;
}

.button:hover{
    border: none;
    border-color: white;
}

.button:active{
    border: none;
    border-color: white;
}

.emogi-picker {
    position: fixed !important;
    left: 340px;
    top: 370px;
}

